# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [19]:
import csv
from pprint import pprint
from __future__ import print_function


sat_scores =[]
with open('../assets/sat_scores.csv', 'rU') as f:
    reader = csv.reader(f)
    for row in reader:
        sat_scores.append(row)

##### 5. Print the data

In [20]:

print (*sat_scores, sep='\n')

['State', 'Rate', 'Verbal', 'Math']
['CT', '82', '509', '510']
['NJ', '81', '499', '513']
['MA', '79', '511', '515']
['NY', '77', '495', '505']
['NH', '72', '520', '516']
['RI', '71', '501', '499']
['PA', '71', '500', '499']
['VT', '69', '511', '506']
['ME', '69', '506', '500']
['VA', '68', '510', '501']
['DE', '67', '501', '499']
['MD', '65', '508', '510']
['NC', '65', '493', '499']
['GA', '63', '491', '489']
['IN', '60', '499', '501']
['SC', '57', '486', '488']
['DC', '56', '482', '474']
['OR', '55', '526', '526']
['FL', '54', '498', '499']
['WA', '53', '527', '527']
['TX', '53', '493', '499']
['HI', '52', '485', '515']
['AK', '51', '514', '510']
['CA', '51', '498', '517']
['AZ', '34', '523', '525']
['NV', '33', '509', '515']
['CO', '31', '539', '542']
['OH', '26', '534', '439']
['MT', '23', '539', '539']
['WV', '18', '527', '512']
['ID', '17', '543', '542']
['TN', '13', '562', '553']
['NM', '13', '551', '542']
['IL', '12', '576', '589']
['KY', '12', '550', '550']
['WY', '11', '547', '545']
['MI', '11', '561', '572']
['MN', '9', '580', '589']
['KS', '9', '577', '580']
['AL', '9', '559', '554']
['NE', '8', '562', '568']
['OK', '8', '567', '561']
['MO', '8', '577', '577']
['LA', '7', '564', '562']
['WI', '6', '584', '596']
['AR', '6', '562', '550']
['UT', '5', '575', '570']
['IA', '5', '593', '603']
['SD', '4', '577', '582']
['ND', '4', '592', '599']
['MS', '4', '566', '551']
['All', '45', '506', '514']

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [21]:
header = summary_row = []

header_row=sat_scores.pop(0)
print (header_row)
summary_row = sat_scores.pop()
print (summary_row)

#print (*sat_scores, sep='\n')

['State', 'Rate', 'Verbal', 'Math']
['All', '45', '506', '514']

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [22]:
state=[st[0] for st in sat_scores]
pprint (state)

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS']

##### 8. Print the types of each column

In [23]:
col0_type = type(sat_scores[0][0])
col1_type = type(sat_scores[0][1])
col2_type = type(sat_scores[0][2])
col3_type = type(sat_scores[0][3])
print ("Column 0 ", col0_type)
print ("Column 1 ", col1_type)
print ("Column 2 ", col2_type)
print ("Column 3 ", col3_type)

Column 0  <type 'str'>
Column 1  <type 'str'>
Column 2  <type 'str'>
Column 3  <type 'str'>

9. Do any types need to be reassigned? If so, go ahead and do it.

    The 2nd through 4th columns are numeric values, but are represented as strings.  These need to be convereted to integers or floats.  Using floats would not povide a significant advantage to the analysis.  Integers are appropriate.

In [24]:
for row in sat_scores:
#    print(row)
    row[1] = int(row[1])
    row[2] = int(row[2])
    row[3] = int(row[3])
#    print(row)

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [25]:
for row in sat_scores:
    print (row)

    sat_rate_dict = {row[0]:row[1]  for row in (sat_scores)}
    sat_verbal_dict = {row[0]:row[2] for row in (sat_scores)}
    sat_math_dict = {row[0]:row[3]  for row in (sat_scores)}

['CT', 82, 509, 510]
['NJ', 81, 499, 513]
['MA', 79, 511, 515]
['NY', 77, 495, 505]
['NH', 72, 520, 516]
['RI', 71, 501, 499]
['PA', 71, 500, 499]
['VT', 69, 511, 506]
['ME', 69, 506, 500]
['VA', 68, 510, 501]
['DE', 67, 501, 499]
['MD', 65, 508, 510]
['NC', 65, 493, 499]
['GA', 63, 491, 489]
['IN', 60, 499, 501]
['SC', 57, 486, 488]
['DC', 56, 482, 474]
['OR', 55, 526, 526]
['FL', 54, 498, 499]
['WA', 53, 527, 527]
['TX', 53, 493, 499]
['HI', 52, 485, 515]
['AK', 51, 514, 510]
['CA', 51, 498, 517]
['AZ', 34, 523, 525]
['NV', 33, 509, 515]
['CO', 31, 539, 542]
['OH', 26, 534, 439]
['MT', 23, 539, 539]
['WV', 18, 527, 512]
['ID', 17, 543, 542]
['TN', 13, 562, 553]
['NM', 13, 551, 542]
['IL', 12, 576, 589]
['KY', 12, 550, 550]
['WY', 11, 547, 545]
['MI', 11, 561, 572]
['MN', 9, 580, 589]
['KS', 9, 577, 580]
['AL', 9, 559, 554]
['NE', 8, 562, 568]
['OK', 8, 567, 561]
['MO', 8, 577, 577]
['LA', 7, 564, 562]
['WI', 6, 584, 596]
['AR', 6, 562, 550]
['UT', 5, 575, 570]
['IA', 5, 593, 603]
['SD', 4, 577, 582]
['ND', 4, 592, 599]
['MS', 4, 566, 551]

In [26]:
pprint (sat_rate_dict)

{'AK': 51,
 'AL': 9,
 'AR': 6,
 'AZ': 34,
 'CA': 51,
 'CO': 31,
 'CT': 82,
 'DC': 56,
 'DE': 67,
 'FL': 54,
 'GA': 63,
 'HI': 52,
 'IA': 5,
 'ID': 17,
 'IL': 12,
 'IN': 60,
 'KS': 9,
 'KY': 12,
 'LA': 7,
 'MA': 79,
 'MD': 65,
 'ME': 69,
 'MI': 11,
 'MN': 9,
 'MO': 8,
 'MS': 4,
 'MT': 23,
 'NC': 65,
 'ND': 4,
 'NE': 8,
 'NH': 72,
 'NJ': 81,
 'NM': 13,
 'NV': 33,
 'NY': 77,
 'OH': 26,
 'OK': 8,
 'OR': 55,
 'PA': 71,
 'RI': 71,
 'SC': 57,
 'SD': 4,
 'TN': 13,
 'TX': 53,
 'UT': 5,
 'VA': 68,
 'VT': 69,
 'WA': 53,
 'WI': 6,
 'WV': 18,
 'WY': 11}

11. Create a dictionary with the values for each of the numeric columns

In [27]:
sat_data_dict={}
sat_data_dict ={name: [sat_rate_dict[name],sat_verbal_dict[name]\
                      , sat_math_dict[name]]\
                        for name in state}

In [28]:
pprint (sat_data_dict)

{'AK': [51, 514, 510],
 'AL': [9, 559, 554],
 'AR': [6, 562, 550],
 'AZ': [34, 523, 525],
 'CA': [51, 498, 517],
 'CO': [31, 539, 542],
 'CT': [82, 509, 510],
 'DC': [56, 482, 474],
 'DE': [67, 501, 499],
 'FL': [54, 498, 499],
 'GA': [63, 491, 489],
 'HI': [52, 485, 515],
 'IA': [5, 593, 603],
 'ID': [17, 543, 542],
 'IL': [12, 576, 589],
 'IN': [60, 499, 501],
 'KS': [9, 577, 580],
 'KY': [12, 550, 550],
 'LA': [7, 564, 562],
 'MA': [79, 511, 515],
 'MD': [65, 508, 510],
 'ME': [69, 506, 500],
 'MI': [11, 561, 572],
 'MN': [9, 580, 589],
 'MO': [8, 577, 577],
 'MS': [4, 566, 551],
 'MT': [23, 539, 539],
 'NC': [65, 493, 499],
 'ND': [4, 592, 599],
 'NE': [8, 562, 568],
 'NH': [72, 520, 516],
 'NJ': [81, 499, 513],
 'NM': [13, 551, 542],
 'NV': [33, 509, 515],
 'NY': [77, 495, 505],
 'OH': [26, 534, 439],
 'OK': [8, 567, 561],
 'OR': [55, 526, 526],
 'PA': [71, 500, 499],
 'RI': [71, 501, 499],
 'SC': [57, 486, 488],
 'SD': [4, 577, 582],
 'TN': [13, 562, 553],
 'TX': [53, 493, 499],
 'UT': [5, 575, 570],
 'VA': [68, 510, 501],
 'VT': [69, 511, 506],
 'WA': [53, 527, 527],
 'WI': [6, 584, 596],
 'WV': [18, 527, 512],
 'WY': [11, 547, 545]}

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [55]:
math_list = verbal_list = rate_list = []
math_list = [data[2] for data in sat_data_dict.values()]
verbal_list = [data[1] for data in sat_data_dict.values()]
rate_list = [data[0] for data in sat_data_dict.values()]

print (rate_list)


#print ("The maximum participation rate is ", max(rate_list),"%.")
#print ("The minimum participation rate is ", min(rate_list),"%.")
#print ("The highest mean verbal score is ", max(verbal_list),"%.")
#print ("The lowest mean verbal score is ", min(verbal_list),"%.")

[53, 67, 56, 6, 18, 52, 54, 11, 72, 81, 13, 53, 7, 65, 4, 8, 13, 77, 71, 71, 33, 68, 31, 51, 9, 6, 69, 12, 63, 60, 5, 8, 34, 51, 17, 82, 69, 65, 79, 26, 5, 8, 9, 11, 9, 23, ['MS', [...], 566, 551], 57, 12, 55, 4]

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.