# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

##### 2. Does the data look complete? Are there any obvious issues with the observations?

##### 3. Create a data dictionary for the dataset.

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [43]:
import csv

sat_scores =[]
with open('../assets/sat_scores.csv', 'rU') as f:
    reader = csv.reader(f)
    for row in reader:
        sat_scores.append(row)

##### 5. Print the data

In [44]:
#from __future__ import print_function
print (*sat_scores, sep='\n')

['State', 'Rate', 'Verbal', 'Math']
['CT', '82', '509', '510']
['NJ', '81', '499', '513']
['MA', '79', '511', '515']
['NY', '77', '495', '505']
['NH', '72', '520', '516']
['RI', '71', '501', '499']
['PA', '71', '500', '499']
['VT', '69', '511', '506']
['ME', '69', '506', '500']
['VA', '68', '510', '501']
['DE', '67', '501', '499']
['MD', '65', '508', '510']
['NC', '65', '493', '499']
['GA', '63', '491', '489']
['IN', '60', '499', '501']
['SC', '57', '486', '488']
['DC', '56', '482', '474']
['OR', '55', '526', '526']
['FL', '54', '498', '499']
['WA', '53', '527', '527']
['TX', '53', '493', '499']
['HI', '52', '485', '515']
['AK', '51', '514', '510']
['CA', '51', '498', '517']
['AZ', '34', '523', '525']
['NV', '33', '509', '515']
['CO', '31', '539', '542']
['OH', '26', '534', '439']
['MT', '23', '539', '539']
['WV', '18', '527', '512']
['ID', '17', '543', '542']
['TN', '13', '562', '553']
['NM', '13', '551', '542']
['IL', '12', '576', '589']
['KY', '12', '550', '550']
['WY', '11', '547', '545']
['MI', '11', '561', '572']
['MN', '9', '580', '589']
['KS', '9', '577', '580']
['AL', '9', '559', '554']
['NE', '8', '562', '568']
['OK', '8', '567', '561']
['MO', '8', '577', '577']
['LA', '7', '564', '562']
['WI', '6', '584', '596']
['AR', '6', '562', '550']
['UT', '5', '575', '570']
['IA', '5', '593', '603']
['SD', '4', '577', '582']
['ND', '4', '592', '599']
['MS', '4', '566', '551']
['All', '45', '506', '514']

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [46]:
header_row=sat_scores.pop(0)
print (header_row)
summary_row = sat_scores.pop()
print (summary_row)

['State', 'Rate', 'Verbal', 'Math']
['All', '45', '506', '514']

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [47]:
state=[st[0] for st in sat_scores]

##### 8. Print the types of each column

In [48]:
col0_type = type(sat_scores[0][0])
col1_type = type(sat_scores[0][1])
col2_type = type(sat_scores[0][2])
col3_type = type(sat_scores[0][3])
print ("Column 0 ", col0_type)
print ("Column 1 ", col1_type)
print ("Column 2 ", col2_type)
print ("Column 3 ", col3_type)

Column 0  <type 'str'>
Column 1  <type 'str'>
Column 2  <type 'str'>
Column 3  <type 'str'>

9. Do any types need to be reassigned? If so, go ahead and do it.

    The 2nd through 4th columns are numeric values, but are represented as strings.  These need to be convereted to integers or flosts.  Using flosts would povide a significant advantage to the analysis.  Integers area appropriate.

In [49]:
for row in sat_scores:
    row[1] = int(row[1])
    row[2] = int(row[2])
    row[3] = int(row[3])

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [59]:
sat_rate_dict = {row[0]:row[1][1]  for (row[0], row[1]) in (zip(state,sat_scores))}
sat_verbal_dict = {row[0]:row[1][2]  for (row[0], row[1]) in (zip(state,sat_scores))}
sat_math_dict = {row[0]:row[1][3]  for (row[0], row[1]) in (zip(state,sat_scores))}

11. Create a dictionary with the values for each of the numeric columns

In [61]:
print (sat_verbal_dict)
print (sat_math_dict)

{'WA': 527, 'DE': 501, 'DC': 482, 'WI': 584, 'WV': 527, 'HI': 485, 'FL': 498, 'WY': 547, 'NH': 520, 'NJ': 499, 'NM': 551, 'TX': 493, 'LA': 564, 'NC': 493, 'ND': 592, 'NE': 562, 'TN': 562, 'NY': 495, 'PA': 500, 'RI': 501, 'NV': 509, 'VA': 510, 'CO': 539, 'AK': 514, 'AL': 559, 'AR': 562, 'VT': 511, 'IL': 576, 'GA': 491, 'IN': 499, 'IA': 593, 'OK': 567, 'AZ': 523, 'CA': 498, 'ID': 543, 'CT': 509, 'ME': 506, 'MD': 508, 'MA': 511, 'OH': 534, 'UT': 575, 'MO': 577, 'MN': 580, 'MI': 561, 'KS': 577, 'MT': 539, 'MS': ['MS', [...], [...], [...]], 'SC': 486, 'KY': 550, 'OR': 526, 'SD': 577}
{'WA': 527, 'DE': 499, 'DC': 474, 'WI': 596, 'WV': 512, 'HI': 515, 'FL': 499, 'WY': 545, 'NH': 516, 'NJ': 513, 'NM': 542, 'TX': 499, 'LA': 562, 'NC': 499, 'ND': 599, 'NE': 568, 'TN': 553, 'NY': 505, 'PA': 499, 'RI': 499, 'NV': 515, 'VA': 501, 'CO': 542, 'AK': 510, 'AL': 554, 'AR': 550, 'VT': 506, 'IL': 589, 'GA': 489, 'IN': 501, 'IA': 603, 'OK': 561, 'AZ': 525, 'CA': 517, 'ID': 542, 'CT': 510, 'ME': 500, 'MD': 510, 'MA': 515, 'OH': 439, 'UT': 570, 'MO': 577, 'MN': 589, 'MI': 572, 'KS': 580, 'MT': 539, 'MS': ['MS', [...], [...], [...]], 'SC': 488, 'KY': 550, 'OR': 526, 'SD': 582}

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [62]:
math_list = [row[2] in row from sat_scores]

SyntaxError: invalid syntax (<ipython-input-62-ff224daa6a1d>, line 1)

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.